*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8 ;
    font-family: Geneva;
}

.menu-bar{
    background-color: #ede9ea;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: x-small;
    position: fixed;
    width: 100%;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #5c5c5c;
}

.menu-bar ul li{
    width: 90px;
    padding-bottom: 3px;
    margin: 40px 50px 5px 50px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0.5rem 0;
    margin: 0 ;
    position: relative;
   
}

.menu-bar ul img{
    width: 100px;
    height: 100px;

}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a5afa6;
    left: 0;
    transform: scale(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scale(1);
}

.drop{
    height: 0;
    padding-bottom: 3px;
    margin: -3px 1px 5px 0px ;
    transition: all .0s;
}

.dropAccount {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    /* background-color: #5c5c5c; */
  }
  
.dropContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    margin-left: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropContent a {
    color: #5c5c5c;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

.dropContent a:hover {
    background-color: #ddd;
}

.drop:hover .dropContent {
    display: block;
    /* transition: all .20s; */
}
