*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #5c5c5c;
}

body{
    background-color: #f8f8f8 ;
    font-family: Geneva;
    text-align: center;
}

.menu-bar{
    background-color: #ede9ea;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: x-small;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    position: relative;
}

.menu-bar ul li{
    width: 90px;
    padding-bottom: 3px;
    margin: 40px 50px 5px 50px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0.5rem 0;
    margin: 0 ;
    position: relative;
}


nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a5afa6;
    left: 0;
    transform: scale(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scale(1);
}

.drop{
    height: 0;
    padding-bottom: 3px;
    margin: -3px 1px 5px 0px ;
    transition: all .0s;
}

.dropAccount{
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }
  
.dropContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    margin-left: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropContent a{
    color: #5c5c5c;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

.dropContent a:hover{
    background-color: #ddd;
    color: #5c5c5c;
    text-decoration: none;
}

.drop:hover .dropContent{
    display: block;
}
                            /*----------------------- END HEADER -----------------------*/
.title{
    font-size: x-large;
    text-align: center;
    letter-spacing: 2px;
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 50%; 
    padding-top: 20px; 
    border-bottom: 1.5px solid #a5afa6 ;
}

#dot{
    color: #a5afa6;
}

.content{
    padding-top: 110px;
    overflow-x: hidden;
    text-align: center;
}

.cards-container{
    position: relative;
    width: 70%;
    margin:0 auto;
    font-size: x-small; 
}

.cards-container .card{
    display: inline-block;
    padding: 0;
}

/* Shadow hover*/
.cards-container .card:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition:  box-shadow .3s;
    transform: translate3D(0,-15px,0) scale(1.03);
}

.card-footer{
    padding: 0px;
    margin: 0;
}

.img-resize{
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

#myBtn{
    display: none; 
    position: fixed; 
    bottom: 35px;
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none; 
    background-color: #ede9ea;
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100px; 
    font-size: 18px; 
  }

#myBtn:hover{
    background-color: #f1f1f1;
  }
  .container{
    background: #a49c9a ;
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 20px auto;
    border-radius:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.13);
    }

.container .left{
    float: left;
    margin: 0 0 0 -20px;
    width: 50%;
    height:718px;
    background:#a49c9a ;
    overflow: hidden;
    }

.container .right{
    float: right;
    margin: 0 -20px 0 0;
    width: 50%;
    height:718px;
    background:#f8f8f8 ;
    overflow: hidden;
    }

.formbox{
    position: relative;
    text-align: left;
    padding: 190px 150px;
    margin-left: -10px;
    box-sizing: border-box;
    height: 718px;
    }

.uploadbox{
    position: relative;
    text-align: center;
    padding: 220px 150px;
    box-sizing: border-box;
    height: 718px;
    }


.textarea{
    margin-bottom: 50px;
    height: 100px;
    }
    
.container .left .formbox input{
    margin-bottom: 30px;
    height: 30px;
    width: 300px;
    }

.formbox input[type = "text"],
.formbox input[type = "password"],
.formbox input[type = "date"],
textarea{  
    border: none;
    border-bottom: 1px solid #5c5c5c;
    outline: none;
    width: 300px;
    background: transparent;
    }
    
.formbox input[type = "button"]{
    width: 100%;
    margin-top:50px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

    }

    
.container .left .formbox input[type = "text"]:focus,
.container .left .formbox input[type = "password"]:focus,
.container .left .formbox input[type = "date"]:focus,
textarea:focus{
    border-bottom: 3px solid #ede9ea;
    }
    
.container .left .formbox input[type = "button"]:hover{
    background-color: #ede9ea;
    }
    .checkBox{
position: absolute;
  top: 61%;
  left: 12%;

    }
    /*
.checkBox .disableCommentL{
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    }
    
.checkBox #disableComment{
    vertical-align: middle;
    }
    
.checkBox .disableCommentL span{
    vertical-align: middle;
    margin-right: 20px;
    }
*/
.colse{
    background: none;
    border: 0;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 20px;
    }
/* 
.close:hover,
.close:focus {
    background: #ede9ea;
    }


.close:active {
    transform: scale(0.99);
    } */
    
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
    background-color: #f1f1f1;
    color: #5c5c5c;
    text-align: center;
    font-size: x-small;
    }