*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
  padding: 0;
  margin: 0;
    background-color: #f8f8f8 ;
    font-family: Geneva;
    letter-spacing: 2px;

      display:run-in;

}

.menu-bar{
    background-color: #ede9ea;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: x-small;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.16),
     0 10px 10px rgba(0,0,0,0.11);
     z-index: 1;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #5c5c5c;
}

.menu-bar ul li{
    width: 90px;
    padding-bottom: 3px;
    margin: 40px 50px 5px 50px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0.5rem 0;
    margin: 0 ;
    position: relative;

}

.menu-bar ul img{
    width: 100px;
    height: 100px;

}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a5afa6;
    left: 0;
    transform: scale(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scale(1);
}

.drop{
    height: 0;
    padding-bottom: 3px;
    margin: -3px 1px 5px 0px ;
    transition: all .0s;
}

.dropAccount {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    /* background-color: #5c5c5c; */
  }

.dropContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    margin-left: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropContent a {
    color: #5c5c5c;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

.dropContent a:hover {
    background-color: #ddd;
}

.drop:hover .dropContent {
    display: block;
    /* transition: all .20s; */
}
/* art gallery  */
.container {
    background: #f9f9f9;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
}

/*  */
/* titles */
.title{
  font-size: xx-large;
  letter-spacing: 2px;
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 1.5px solid #a5afa6 ;
  color: #5c5c5c;
    text-align: center;
}

#dot{
    color: #a5afa6;
}

.accounts{
  position: absolute;
background: #a5afa6;
margin: auto;
top: 200px;
left: 200px;
width: 70%;
height: 600px;
padding: 20px;
border: 3px solid #c9af9d;
border-radius: 5px;


  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0,0,0,0.18),
      0 10px 10px rgba(0,0,0,0.11);



}
.content{
    margin: 0 auto;
  padding-top: 110px;
  overflow-x:hidden;
}

.Approvalbutton{

padding: 50px 300px ;


}
.btn.btn-default {
letter-spacing: 2px;
background: none;
}



.btn.btn-default img:hover{
 transform: scale(1.1);

}
