*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 2px;
    color: #5c5c5c;
}
body{
    background-color: #f8f8f8 ;
    font-family: Geneva;
}

    
        /* button */
  
.menu-bar{
    background-color: #ede9ea;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: x-small;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-bottom: 300;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    position: relative;
}

.menu-bar ul li{
    width: 90px;
    padding-bottom: 3px;
    margin: 40px 50px 5px 50px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0.5rem 0;
    margin: 0 ;
    position: relative;
}


nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a5afa6;
    left: 0;
    transform: scale(0);
    transition: all .7s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scale(1);
}

.drop{
    height: 0;
    padding-bottom: 3px;
    margin: -3px 1px 5px 0px ;
    transition: all .0s;
}

.dropAccount {
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }
  
.dropContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    margin-left: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropContent a {
    color: #5c5c5c;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }

.dropContent a:hover {
    background-color: #ddd;
    color: #5c5c5c;
    text-decoration: none;
}

.drop:hover .dropContent {
    display: block;
}
/* title */
#artstitle{
    margin-top:0px;
    font-size: x-large;
    letter-spacing: 2px;
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 50%; 
    padding-top: 150px; 
    margin-bottom: 30px;

    border-bottom: 1.5px solid #a5afa6 ;
    
  }
  .title{
  margin-top:300px;
  font-size: x-large;
  letter-spacing: 2px;
  content: ""; 
  display: block; 
  margin: 0 auto;
  width: 50%; 
  margin-bottom: 20px;
  padding-top: 120px; 

  border-bottom: 1.5px solid #a5afa6 ;
  }
  /* to top button */
  #myBtn{
    display: none; 
    position: fixed; 
    bottom: 35px;
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none; 
    background-color: #ede9ea;
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100px; 
    font-size: 18px; 
  }

#myBtn:hover{
    background-color: #f1f1f1;
  }

.container{
    background: #a49c9a ;
    position: relative;
    width: 400px;
    height:718px;
    overflow: hidden;
    margin: 20px auto;
    border-radius:10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.13);
    }
  
/* gallery */
/* grid *//* grid */
.image-gallery{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    max-width: 960px;
   height: 80px;
    margin: 0 auto; 
    top:300px;/* centerkan image-gallery */	
    z-index: 1;
 margin-bottom: 100px;
    padding-top: 0px;
}

.image-gallery .div1{
  background-image:url("assets/pic4.jpg");
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column:1/3; 
  grid-row: 1/5; 
  transition: .8s ease-out; 
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);

}

.image-gallery.div1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; 
    /* background: linear-gradient(to top,gray,transparent ); */
    z-index: 2;
   transition: 0.5s; 
    opacity: 0;

}


.imginfo1{
    margin-top:540px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transform: 0.5s;
    margin-left: 20px;
text-align: left;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-align: center; 
    /* هذي حقت الايك،ن لو ابيها */
}

.div1::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  padding-top: 35%;
  text-transform: uppercase;
  /* background:linear-gradient(to top,green,transparent ); */
  /* content: attr(data-text); */
  transition: 0.5s;
  margin-top: 8px;
  transform: translateY(100%);
}


.div1:hover:after{
  transform:translateY(0);
  transition:0.5s 0.1s;
  opacity:1;
}
.image-gallery.div1:hover:before{
 transform:translateY(100%);
  padding:8px;
  transition:0.5s;
  opacity:0.3; 
 
}
  .image-gallery .div1:hover .imginfo1{
    opacity:1 ;
    transform: translateY(0);
}
.image-gallery .div1:hover{
    transform: translateY(8px);
opacity: 1;
    
   
    /* shadow */
}
.image-gallery .div2{
    grid-column:3/7; 
    grid-row: 1/3;
    background-image: url("assets/viewArtWorkImg.jpg"); 
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .8s ease-out; 
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);

}
.imginfo2{
    margin-top:220px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transform: 0.5s;
    margin-left: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-align: center;  
    /* هذي حقت الايك،ن لو ابيها */
}

.image-gallery.div2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; 
    /* background: linear-gradient(to top,gray,transparent ); */
    z-index: 2;
   transition: 0.5s; 
    opacity: 0;

}

.div2::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    padding-top: 35%;
    text-transform: uppercase;
    /* background:linear-gradient(to top,green,transparent ); */
    /* content: attr(data-text); */
    transition: 0.5s;
    margin-top: 8px;
    transform: translateY(100%);
  }
  
  .div2:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
  .image-gallery.div2:hover:before{
   transform:translateY(100%);
    padding:8px;
    transition:0.5s;
    opacity:0.3; 
   
  }
    .image-gallery .div2:hover .imginfo2{
      opacity:1 ;
      transform: translateY(0);
  }
  .image-gallery .div2:hover{
      transform: translateY(8px);
  opacity: 1;
      
  }  
.image-gallery .div3{
    grid-column:3/5; 
    grid-row:3/5; 
    background-image: url("assets/pic2.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .8s ease-out; 
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);

}
.image-gallery.div3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; 
    /* background: linear-gradient(to top,gray,transparent ); */
    z-index: 2;
   transition: 0.5s; 
    opacity: 0;

}

.div3::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    padding-top: 35%;
    text-transform: uppercase;
    /* background:linear-gradient(to top,green,transparent ); */
    /* content: attr(data-text); */
    transition: 0.5s;
    margin-top: 8px;
    transform: translateY(100%);
  }
  
  .div3:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
  .image-gallery.div3:hover:before{
   transform:translateY(100%);
    padding:8px;
    transition:0.5s;
    opacity:0.3; 
   
  }
    .image-gallery .div3:hover .imginfo3{
      opacity:1 ;
      transform: translateY(0);
  }
  .image-gallery .div3:hover{
      transform: translateY(8px);
  opacity: 1;
      
  } 
.image-gallery .div4{
    grid-column:5/7;
    grid-row:3/7; 
    background-image: url("assets/color.jpg"); 
    background-position: center  ;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .8s ease-out; 
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);

}
.image-gallery.div4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; 
    /* background: linear-gradient(to top,gray,transparent ); */
    z-index: 2;
   transition: 0.5s; 
    opacity: 0;

}

.div4::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    padding-top: 35%;
    text-transform: uppercase;
    /* background:linear-gradient(to top,green,transparent ); */
    /* content: attr(data-text); */
    transition: 0.5s;
    margin-top: 8px;
    transform: translateY(100%);
  }
  
  .div4:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
  .image-gallery.div4:hover:before{
   transform:translateY(100%);
    padding:8px;
    transition:0.5s;
    opacity:0.3; 
   
  }
    .image-gallery .div4:hover .imginfo4{
      opacity:1 ;
      transform: translateY(0);
  }
  .image-gallery .div4:hover{
      transform: translateY(8px);
  opacity: 1;
      
  } 
.image-gallery .div5{
    grid-column:1/5;
  
    grid-row:5/7; 
    background-image: url("assets/pic1.jpg"); 
    background-position: center ;
    background-size: cover !important;
    background-repeat: no-repeat; 
    transition: .8s ease-out; 
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);
  

}

.image-gallery.div5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%; 
    background:rgb(0, 0,6);
    z-index: 2;
   transition: 0.5s; 
   transform: translateY(100%);
   padding: 0 8px;
   transition: all .35s ease;

     opacity: 0; 

}

.div5::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding-top: 35%;
    text-transform: uppercase;
    /* background:linear-gradient(to top,green,transparent ); */
    /* content: attr(data-text); */
    transition: 0.5s;
    margin-top: 8px;
     transform: translateY(100%);
  }
  
  .div5:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
  .image-gallery.div5:hover:before{
   transform:translateY(0);
    padding:8px;
    transition:0.5s;
    background-color:rgba(0,0,0,0.9);
 

   
   
  }
    .image-gallery .div5:hover .imginfo5{
      opacity:1 ;
      transform: translateY(0);
    

  }
  .image-gallery .div5:hover{
      transform: translateY(8px);
  opacity: 1;
   


      
  } 
.imginfo3{
    margin-top:220px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transform: 0.5s;
    margin-left: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-align: center; 
    /* هذي حقت الايك،ن لو ابيها */
}
.imginfo4{
    margin-top:530px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transform: 0.5s;
    margin-left: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-align: center; 
    /* هذي حقت الايك،ن لو ابيها */
}
.imginfo5{
    margin-top:210px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(3px);
    transform: 0.5s;
    margin-left: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-align: center; 
    /* هذي حقت الايك،ن لو ابيها */
}


.imginfo1 h5,.imginfo1 h6,.imginfo2 h5,.imginfo2 h6,.imginfo3 h5,.imginfo3 h6,.imginfo4 h5,.imginfo4 h6,.imginfo5 h5,.imginfo5 h6{
    
  text-align: left;
    color:#5c5c5c;
} 

.imginfo1 a,.imginfo2 a,.imginfo3 a,.imginfo4 a,.imginfo5 a{
  text-decoration: none;
} 

/* artist box  */

.title-artist{
  
    font-size: x-large;
    letter-spacing: 2px;
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 50%; 
    padding-top: 100px; 
margin-top: 800px;
    border-bottom: 1.5px solid #a5afa6 ;

}
.artist-box{

    margin-top: 50px;
    padding-top:0px;
    width: 85%;

}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 240px;
    height: 200px;


  }
  
  
  .flex-container > div {
    background-color:#ede9ea;
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
  }
.artistAccount{
    color: #5c5c5c;
    text-decoration: none;
       
      
        
        

    
  }
  .artistAccount:hover{
      color:#a5afa6;
      text-decoration: none;
  }
.post-container{
   width: 200px;
    height :200px;
    
}

.post-artist img {
    float: right;
  
    clear: right;
    object-fit: cover;
    height: 100%;
    width: 50%;
    position: relative;
}
.post-artist1 img {
    float: left;
    clear: left;
    object-fit: cover;
    height: 100%;
    width: 50%;
    position: relative;

}
/* about us */

#AboutUs {
    background-color:  #f8f8f8;
    /* padding-top: 500px; */
    text-align: center;
  }
  /* concat us */

  #contactUs {
   
    text-decoration: none;
    background-color: #b1a6a4;
    text-align:left;
    border:none;
  }
  #contactUs a {
    background-color: transparent;
    background-color: #b1a6a4;

  }
  #RAQASHTEAM{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
    background-color: #f1f1f1;
    color: #5c5c5c;
    text-align: center;
    font-size: x-small;

  }
   #contactUs a {
    color: #5c5c5c;
    text-decoration: none;
    
  
  }
  #contactUs a:hover {
    color: #a5afa6;
  }
 

/* view art work */


#viewArt , #commentsPost{
  position:fixed;
  z-index: 2;
  background: #ede9ea ;
  position:relative;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
  height: 650px;
  border-radius:10px ;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15),
  0 10px 10px rgba(0,0,0,0.13);

}

.container .left {
  position:relative;
 top: 0px;

 
  float: left;
  width: 350px;
  height:100%;
  background:#ede9ea ;
  margin-left: -20px;
  overflow: hidden;


}


.container .left img {
 
  position:relative;
   top: 0px;
  left: 0px; 
  height: 100%;
  margin-left: -30px;
 
 }

.container .right {
  position:relative;
 top: 0px;
 right: 0px;
  float: right;
  width: 350px;
  height:650px;
  background:#ede9ea ;
  overflow: hidden;
}
.container .right .description{
  position: relative;
  text-align: left;
  font-size: 20px;
  padding: 0 30px 0 30px;
  height: 40%;
  overflow-y:scroll;
  
}

.right #date{
  position: relative;
  text-align: center;
  padding-bottom: 55px;
  font-size: 15px;
}
.right .artistAccount a{
    text-align: center;
   color:  #5c5c5c;
}
.right .artistAccount {
  text-align: right;
 
}
.comment-btn{
margin-top: 20px;
border: none;
border-radius: 8px;
outline: none;
cursor: pointer;
background:#a49c9a;




}
.comment-btn:hover{
  background-color: #a5afa69f;
 

  }
  .comments{
  padding-left: 30%;
 
  }
 
  .addCommentArea{

     padding-top: 10px;
    padding-left: 100px; 
    overflow: scroll;

  }
 
 
  #commentTextArea{
      background-color: #ede9ea;
      margin-bottom: 20px;
  
  }
  
  #commentTextArea:hover{
      background-color: #f8f8f8b7;
      border: #a5afa6;
  }
  #commentTextArea:focus {
      outline: none !important;
     
      box-shadow: 0 0 10px #5c5c5c ;
  }
  .usersComments{
      padding: 80px 0 0 100px;
      overflow-y: scroll;
  }
      
input[type = "submit"]:hover{
 background-color: #a5afa6;
 padding-top: 30px;
  
  }
  

  .usersComments a{
     color: #5c5c5c;
  }
input[type = "submit"]{
  height: 30px;
  width: 200px;
letter-spacing: 1px;
 border: none;
border-radius: 8px;
outline: none;
cursor: pointer;
position: absolute;
left: 415px;
margin-left: -50px;
cursor: pointer;


  }
  .list-group-item{
    background: none;
    overflow: scroll;
  }

  .list-group{
    margin-bottom: 20px;
    padding-top: 30px;
    overflow: scroll;
  }
.list-group :hover{

background-color: #5c5c5c36;
}   


 #commentsPost{
   display: none;

 }

 #bg-model{
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  top: 0;
  display: none;
}

.list-group a #Commentusername{
  display: inline;
}
