*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 2px;
    color: #5c5c5c;
}
body{
    background-color: #f8f8f8 ;
    font-family: Geneva;
}
.menu-bar{
    background-color: #ede9ea;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-size: x-small;
    position: fixed;
    width: 100%;
    z-index: 1;


}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    position: relative;
}
.menu-bar ul li{
    width: 90px;
    padding-bottom: 3px;
    margin: 40px 50px 5px 50px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0.5rem 0;
    margin: 0 ;
    position: relative;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #a5afa6;
    left: 0;
    transform: scale(0);
    transition: all .5s;
}
nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scale(1);
}
.drop{
    height: 0;
    padding-bottom: 3px;
    margin: -3px 1px 5px 0px ;
    transition: all .2s;
}
.dropAccount {
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }
  .dropContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    margin-left: 27px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropContent a {
    color: #5c5c5c;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  .dropContent a:hover {
    background-color: #ddd;
    color: #5c5c5c;
    text-decoration: none;
}

.drop:hover .dropContent {
    display: block;
}
#myBtn{
    display: none; 
    position: fixed; 
    bottom: 35px;
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none; 
    background-color: #ede9ea;
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 100px; 
    font-size: 18px; 
  }

#myBtn:hover{
    background-color: #f1f1f1;
  }
  .account{


    background-color:#a49c9a;
       background-size: cover;
       background-position: center;
       height: 550px;
       margin-bottom: 170px;
       margin-top: 0px;
       max-width: 100%;
    /* new */
   }

   .account.row{
    margin-top: 750px;
} 
.bio{
    width: 500px;
     margin-top:-340px;
    padding: 50px;
   margin-left: 700px;
  background-color: #ffffff8c;
    margin-bottom: 190px;
    border-radius: 5px;
    height: 350px;
    line-height: 20px;
    position: relative;
    
    
 
 } 
 .bio p{
    padding-top:20px;
}

.Artist-image{
    margin-top:250px;
    margin-bottom: -165px;
    border-radius: 5px;
    height: 400px;
    width: 280px;
}
.contact-info{
    text-align: left;
    margin-left: 20px;

}
.icon{
    max-height: 30px;
}
.edit {
line-height: 2px;
text-align: center;
font-size: 20px;
border: none; 
outline: none; 
background-color: #a49c9a;
cursor: pointer; 
padding:20px;
border-radius: 20px;
width: 120px;
height: 10px;
margin-top: -8px;
 margin-right: 0px; 
 left: 200px;  
      
        }
      
 .add {

  position: fixed;
  padding-left: 20px;
  bottom: 687px; 
   right: -20px;
   z-index: 99; 
border: none; 
outline: none; 
 background-color:#ede9ea;
cursor: pointer; 
padding:20px ;
border-radius: 50px; 
 padding-top: 3px;
padding-left: 2.1px;
width: 65px;
height: 32px;
            
        }
 .add:hover {
 background-color: #f1f1f1;
        }

    /* ART  */
.title{
   font-size: x-large;
    letter-spacing: 2px;
    content: ""; 
     display: block; 
     margin: 20px auto;
    width: 50%; 
    padding-top: 30px; 
    border-bottom: 1.5px solid #a5afa6 ;
      }
      #dot{
        color: #a5afa6;
    }
    .content{
        overflow-x: hidden;
    }
    .cards-container{
        position: relative;
        width: 70%;
        margin:0 auto;
        font-size: x-small; 
    }
    .cards-container .card{
        display: inline-block;
        padding: 0;
    }
       /* Shadow hover*/
       .cards-container .card:hover{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition:  box-shadow .3s;
        transform: translate3D(0,-15px,0) scale(1.03);
     }
        
     .card-footer{
        padding: 0px;
        margin: 0;
    }
    .img-resize{
        height: 300px;
        object-fit: cover;
        object-position: center center;
    }

    #AboutUs {
        background-color:  #f8f8f8;
        padding-top: 400px;
        text-align: center;
      }
      #contactUs {
   
        text-decoration: none;
        background-color: #ede9ea;
        text-align:left;
      }
      #contactUs a {
        color: #5c5c5c;
        text-decoration: none;
        background-color: #ede9ea;
        
      
      }
      #contactUs a:hover {
        color: #a5afa6;
      }
      .footer{
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0.5%;
        background-color: #f1f1f1;
        color: #5c5c5c;
        text-align: center;
        font-size: x-small;
        }