body{
    background-color: #f8f8f8;
    font:Geneva;

}
.inner_navBar {

    margin:0  auto ;
    width:1170 px;
}
.inner_navBar ul{
    margin: 0  ;
    padding: 0;
    list-style: none;
    text-align: right;
   

}
.inner_navBar ul li{
  float: none;
  display: inline-block;
}
.inner_navBar ul li:nth-child(1){ 
  float: left;
  }
  .inner_navBar ul li:nth-child(2){
    float: left;
    }
    .inner_navBar ul li:nth-child(3){
        float: left;
        }
.inner_navBar ul li a{
color: black;
font-size: 12px;
text-decoration: none;
text-transform: uppercase;
display: block;
padding:  30px 20px 20px 20px;
text-align: center;
letter-spacing: 2px;
margin: 0 3rem;
position: relative;


}

.inner_navBar ul li a::before,
.inner_navBar ul li a::after{
   content: '';
   position: absolute;
   height: 1px;
   width: 100%;
   left: 0;
   background-color:red;
   transform: scaleX(0);
      
}
.inner_navBar ul li a::before{
    top: 10px
    transform-origin: left;
}
.inner_navBar ul li a::after{
bottom: 20px;
transform-origin: right;
}


.inner_navBar ul li a:hover::before, 
.inner_navBar ul li a:hover::after{
    transform: scaleX(1);
    transition: all .7s;

}



#navBar{
    width: 100%;
    position: relative;
}
.logo{
width: 300px;
height: 300px;
position: absolute;
left: 50%
top 0;
content: "";
margin-left: -150px;
}
/* Dropdown button */
.submenu{
    border: none;
    outline: none;
    color :black
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

/* Dropdown content (hidden by default) */
.dropdown-content {

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  }
 
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content  li a:hover {
    display: block;
    background-color: white;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
  }
  
