@import "https://www.wfonts.com/font/geneva";

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:#f8f8f8 ;
  font-family: geneva ;
  letter-spacing: 2px;
color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
 height: 110vh;
	margin: -20px 0 50px;

}



.container{
background: #ede9ea ;
    position:relative;
    overflow: hidden;
width: 800px;
margin: 0 auto;
max-width:100%;
min-height: 500px;
height: 120px;
border-radius:10px ;
box-shadow: 0 14px 28px rgba(0,0,0,0.15),
    0 10px 10px rgba(0,0,0,0.13);

}

.container .Lleft , .container .Sright{
  position:relative;
 top: 0px;
 left: 0px;
  float: left;
  width: 50%;
  height:100%;
  background:#a5afa6 ;
  overflow: hidden;


}

.container .Lleft img , .container .Sright img{
  position:relative;
 top: 0px;
 left: 0px;

}

.container .Lright , .container .Sleft{
  position:relative;
 top: 0px;
 right: 0px;
  float: right;
  width: 50%;
  height:100%;
  background:#ede9ea ;


}

/* close */
.Sright .close {
  position:absolute;
margin: 20px;
background: none ;
color: black;
border: 0;

}

.Lright .close{
margin: 20px 350px;
  position:absolute;
background: none ;
color: black;
border: 0;

}
button{

  pointer-events:stroke;
}

/* title */
.container .Lright .title {
  position: relative;
  text-align: center;
  padding: 100px 0px 0px;
}

.container .Sright .title {
  position: relative;
  text-align: center;
  padding: 40px 100px 5px;
 text-transform: uppercase;
}

.formbox{
  position: relative;
  text-align: left;
  width: 100%;
  padding: 0px 80px;
  box-sizing: border-box;
  height: 400px;

}

 .submitButtonL input , .formbox input{
  margin: 50px;
  height: 30px;
  width: 200px;

}

.container .Sright .formbox input , .submitButton input{
  margin-bottom: 30px;
  height: 30px;
  width: 200px;

}

.formbox input[type = "text"],
.formbox input[type = "password"]{
border: none;
border-bottom: 1px solid #5c5c5c;
outline: none;
background: transparent;

}

.container .Lright .formbox input[type = "text"]:focus,
.container .Lright .formbox input[type = "text"]:hover,
.container .Lright .formbox input[type = "password"]:focus,
.container .Lright .formbox input[type = "password"]:hover{
border-bottom: 1px solid #a5afa6;
}

.submitButtonL input[type = "submit"] , .submitButton input[type = "submit"]{
  margin-bottom: 70px;
  border: none;
  border-radius: 8px;
  outline: none;
cursor: pointer;

}

.submitButtonL input[type = "submit"]:focus,
.submitButtonL input[type = "submit"]:hover{
background-color: #a5afa6;
}

.formbox .forgetPass {
  display: block;
  margin: -50px 0px 50px 90px;
}
.formbox a , .container .Lright .formbox p ,  .container .Sright .formbox p , .haveAnAccount a{

  display: inline;
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  letter-spacing: 1px;

}
.formbox a:hover{
color: #a5afa6;
}

.container .Sright .formbox a:focus{
color: #ede9ea;
}

.formbox a{
  font-weight: bold;
  color: #5c5c5c;
}


.container .Sright .formbox input[type = "text"]:focus,
.container .Sright .formbox input[type = "text"]:hover,
.container .Sright .formbox input[type = "password"]:focus,
.container .Sright .formbox input[type = "password"]:hover{
border-bottom: 3px solid #ede9ea;
}



.submitButton input[type = "submit"]:focus ,.submitButton input[type = "submit"]:hover  {
background-color: #ede9ea;
}

.check{
  position:absolute;
 top: 77%;
 left: 20%;
}

.submitButton {
  position:absolute;
 top: 85%;
 left: 20%;

}
.haveAnAccount{
  position:absolute;
  font-size: 12;
 top: 90%;
left: 17%;
}
 .haveAnAccount a:hover{
   color:  #ede9ea;
 }

 /*

 الفوتر
HTML : آخر شيء حطوه


<div class = "footer">&copy;RAQASH Team 2020</div>
------------------
CSS


.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
    background-color: #f1f1f1;
    color: #5c5c5c;
    text-align: center;
    font-size: x-small;
    } */

    /*

    البتن
    HTML : بعد الهيدر حق الناف حطوه

        <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="assets/Raqash Icon-up.svg" width="30px" height="30px" alt="up"></button>
        <script>//Get the button:
            mybutton = document.getElementById("myBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0; // For Safari
              document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }</script>
    ------------------
    CSS

    #myBtn{
        display: none;
        position: fixed;
        bottom: 35px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #ede9ea;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 100px;
        font-size: 18px;
      }

    #myBtn:hover{
        background-color: #f1f1f1;
      }


    */
